/* palette
#22223b
#4a4e69
#9a8c98
#c9ada7
#f2e9e4
#EF233C - red
*/


/* Global styles
-------------------------------*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2 {
	font-family: 'Caveat', cursive;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}
h3 {
	margin: 0;
}

a {
	color: #f2e9e4;
}
a:hover {
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
}


/* Header and Footer
-------------------------------*/
header, footer {
	background: #22223b;
	color: #c9ada7;
}
header h1, header h2 {
	color: #9a8c98;
	margin-bottom: 10px;
}
header {
	position: relative;
	padding-top: 50px;
}

footer {
	text-align: center;
}

.avatar {
	border-radius: 50%;
	margin-top: 50px;
}

.content-info a {
	margin: 10px;
}

.btn {
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	color: white;
	background: #EF233C;
	position: absolute;
	right: 0;
	bottom: 0;
}

/* Navigation
-------------------------------*/
nav {
	text-align: center;
	background: #9a8c98;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

nav a {
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700px;
}

/* Education
-------------------------------*/
.education {
	color: #4a4e69;
	background: linear-gradient(rgba(242, 233, 228, 0.8), rgba(242, 233, 228, 0.8)), url(../images/SFU.jpg) no-repeat fixed;
	background-size: cover;
}

.education p + h3 {
	margin-top: 30px;
}

/* Work Exprience
-------------------------------*/
.work {
	color: #4a4e69;
	background: #c9ada7;
}

.job-description {
	margin-bottom: 25px;
}
.job-description p:first-of-type {
	margin-top: 0px;
}

.work h3 ~ p {
	margin: 0;
}


/* Media Queries
-------------------------------*/
@media (min-width: 900px) {
	.col-narrow {
		width: 30%;
		float: left;
	}
	.col-wide {
		width: 70%;
		padding-left: 30px;
		float: left; 
	}
}

@media (max-width: 899px) {
	header {
		text-align: center;
	}
	.avatar {
		width: 200px;
	}
}

